.ShareFormContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ShareFormRadiobuttons{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.Warning{
    color: red
}
.WarningRadio{
    margin: 0;
    line-height: 0;
    color: red
}
.radioButtonsWidth{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
.ShareFormInput{
    width: 100%;
}
.ShareFormInput p{
    text-align: start;
}
.ShareFormComment{
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    font-family: inherit;
    resize: none;
    padding: 5px;
}
.ShareFormSubmit{
    height: 40px;
    margin: 20px;
}
.LeaveAComment{
    cursor: pointer;
}
.ShareFormSearch{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    width: 90%;
    font-size: inherit;
}


.ShareFormWarning{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    width: 90%;
    font-size: inherit;

    border: 1px solid red;
}

.SpinnerClass{
    height: 200px;
}